﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">

    <h4>
        Preauth Request Form
    </h4>
    <div class="row">
        @* Start TPA Details *@
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Details of third party administrator</h3>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <label>Name of TPA / Insurance company</label>
                        <select class="form-control select2">
                            <option value="0">Select TPA</option>.
                            <option value="1">United india insurace company (UIIC)</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Toll Free Phone Number</label>
                        <span class="form-control" id="spanTPAPhoneNo">1234567890</span>
                    </div>
                    <div class="col-sm-2">
                        <label>Toll Free FAX Number</label>
                        <span class="form-control" id="spanTPAFAXNo">1234567890</span>
                    </div>
                </div>
            </div>
        </div>
        @* End TPA Details *@

        @* Start Patient Details*@
        <div class="box box-info">
            <div class="box-header">
                <h6 class="box-title">Patient Details</h6>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label>Name of the Patient</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Gender</label>
                        <select class="form-control select2">
                            <option value="0">Select</option>.
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Date of birth</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <label>Age</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col-sm-1">
                        <label>AgeType</label>
                        <select class="form-control select2">
                            <option value="0">Select</option>
                            <option value="1">Years</option>
                            <option value="2">Months</option>
                            <option value="3">Days</option>

                        </select>
                    </div>

                    <div class="col-sm-2">
                        <label>Contact No</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <label>Relative Mobile</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Insured Card ID Number:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Policy number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label>Name of corporate</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>EmployeeID</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-sm-12">&nbsp;</div>

                <h5 class="box-title">
                    <label>
                        <input type="checkbox">
                        Currently do you have any other Mediclaim / HealthInsurance?
                    </label>
                </h5>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label>CompanyName</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Givedetails</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-sm-12">&nbsp;</div>

                <h5 class="box-title">
                    <label>
                        <input type="checkbox">
                        Do you have a familyphysician?
                    </label>
                </h5>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label>Name of the familyphysician:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>Contact number, if any:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

            </div>
        </div>
        @* End Patient Details*@


        @* Start Hospitalization Details*@
        <div class="box box-danger">
            <div class="box-header">
                <h6 class="box-title"> Hospitalization Details</h6>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label>Treating doctor Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Contact Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Duration of ailment(Days)</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Date of first consultation</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>ICD 10 Code:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-2"><label>Proposed line of treatment:</label></div>
                    <div class="col-sm-2"><label><input type="checkbox"> Medical Management</label></div>
                    <div class="col-sm-2"><label><input type="checkbox"> Surgical Management</label></div>
                    <div class="col-sm-2"><label><input type="checkbox"> Intensive care</label></div>
                    <div class="col-sm-2"><label><input type="checkbox"> Investigation</label></div>
                    <div class="col-sm-2"><label><input type="checkbox"> Non allopathic treatment</label></div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label>Name of ILLNESS / Disease with presenting complaints:</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>Relevant clinical fndings:</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label>Past history of present ailment if any</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>If investigation / Medical Management provide details</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label>Route of drug administration:</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>If Surgical, name of surgery:</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label>If other treatments provide details:</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>How did injury occur:</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <label>ICD 10 PCS Code:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>

            </div>
        </div>


        @* Start Maternity*@
        <div class="col-sm-6">
            <div class="box box-success">
                <div class="box-header">
                    <h6 class="box-title">Maternity</h6>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>G</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>P</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>L</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <label>A</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label>Date ofDelivery/ LMP:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @* End Maternity Details*@

        @* Start Accident*@
        <div class="col-sm-6">
            <div class="box box-danger">
                <div class="box-header">
                    <h6 class="box-title">In case of accident</h6>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Is it RTA</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Date of injury</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Reported toPolice</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>FIR No</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Alcohol consumption</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Test conducted</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @* End Accident*@

        @* Start Patient Admit Details*@
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h6 class="box-title">Patient Admission Details</h6>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label>Date ofadmission</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label>Time</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label>RoomType</label>
                            <select class="form-control select2">
                                <option value="0">Select</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>Hospitalization Type</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                    Emergency
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                                    Planned
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Expected no. of days stay inhospital</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Total cost</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">&nbsp;</div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Per Day Room Rent + Nursing & Service charges + Patient’s Diet:</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Expected cost for investigation+ diagnostics:</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>ICU Charges:</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>OT Charges:</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Professional fees Surgeon + Anesthetist F ees + Consultation Charges</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Medicines +Consumables Cost of Implants (if applicableplea sespecify) .Othe r hospita l expenses if any:</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>All inclusive package charges if anyapplicable:</label>
                        </div>
                        <div class="col-sm-1">
                            Rs.
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* End Patient Admit Details*@

        @* Start Past History*@
        <div class="col-sm-6">
            <div class="box box-info">
                <div class="box-header">
                    <h6 class="box-title">Past history of any choronic illness If yes, specify</h6>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-3">
                            <label>Month</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Year</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Diabetes</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Heart Disease</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Hypertension</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Hyperlipidemias</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Osteoarthritis</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Asthma / COPD / Bronchitis</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Cancer</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Alcoho lor drug abuse</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>AnyHIVorSTD / Relatedailments</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label>Any other Ailment give details:</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="6"></textarea>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        @* End Past History*@



    </div>
</section>



<commented>
    @*<div class="box box-danger">
            <div class="box-header">
                <h6 class="box-title">Patient Details</h6>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <label>Name of the Patient</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-1">
                        <label>Gender:</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <label>Age:</label>
                    </div>
                    <div class="col-sm-1">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Date of birth:</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label>Contact No:</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Contact number of Attending Relative:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Insured Card ID Number:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Policy number/ Name of corporate:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>EmployeeID:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Currently do you have any other Mediclaim / HealthInsurance:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>CompanyName:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Givedetails:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Do you have a familyphysician:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label>Name of the familyphysician:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Contact number, if any:</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control">
                    </div>
                </div>


            </div>
        </div>*@

    @*<div class="box-header with-border">
            <h3 class="box-title">In case of accident:</h3>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2">
                <label>Is it RTA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-2">
                <label>Date of injury</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-2">
                <label>Reported toPolice</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-2">
                <label>FIR No</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-2">
                <label>Alcohol consumption</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-2">
                <label>Test conducted</label>
                <input type="text" class="form-control">
            </div>
        </div>


        <div class="col-sm-12">&nbsp;</div>

        <div class="box-header with-border">
            <h3 class="box-title">isMaternity:</h3>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-1">
                <label>G</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-1">
                <label>P</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-1">
                <label>L</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-1">
                <label>A</label>
                <input type="text" class="form-control">
            </div>

            <div class="col-sm-3">
                <label>Date ofDelivery/ LMP:</label>
                <input type="text" class="form-control">
            </div>
        </div>*@
</commented>

