﻿
@{

     Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Preauth Request Form
        <small>Optional description</small>
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>*@

</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        @* Start TPA Details *@
        @Html.Partial("_TPADetails")
        @* End TPA Details *@

        @* Start Patient Details*@
        @Html.Partial("_PatientDetails")

        @* End Patient Details*@

        @* Start Hospitalization Details*@
        @Html.Partial("_HospitalizationDetails")
        @* End Hospitalization Details*@

        @* Start Patient Admit Details*@
        @Html.Partial("_PatientAdmissionDetails")

        @* End Patient Admit Details*@
        <!--Bifurcation Of Bills-->
        @Html.Partial("_BillDetails")
        <!--End Bifurcation Of Bills-->
        <!--Upload Files-->
        @Html.Partial("_UploadFiles")
        <!--End Upload Files-->
        <hr />
        @Html.Partial("_TPAResponse")

        <div class="col-xs-12">
            <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;">
                <i class="fa fa-close"></i> Cancel
            </button>

            <button type="button" class="btn btn-success pull-right" style="margin-right: 5px;">
                <i class="fa fa-arrow-right"></i> Send to TPA
            </button>
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-mail-forward"></i> Send to Doctor
            </button>
            <button type="button" class="btn btn-warning pull-right" style="margin-right: 5px;">
                <i class="fa fa-save"></i> Save as Draft
            </button>
        </div>
    </div>
</section>
<!-- /.content -->
<!-- Contacts Section-->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        @*<li id="litpacontactsheader"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-users"></i></a></li>*@
        @*<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>*@
        <li><a id="hdnbtntpacontactsdisplay" href="#" data-toggle="control-sidebar"><i class="fa fa-users"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">TPA Contacts</h3>
            <div class="form-group">


                <ul class="control-sidebar-menu">

                    <li onclick="choosecontact(1)">

                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            @*<input type="radio" name="r1" id="tpacontactssection1" class="flat-red" checked>*@
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Contact Section 1</h4>
                                <p>Name : Dr.Vikam</p>
                                <p>Disignation : Doctor</p>
                                <p>Mobile : 9988776655</p>
                                <p>Toll Free Phone Number : 1234567890</p>
                                <p>Toll Free FAX Number : 1234567890</p>
                                <p>Email : demo1@test.net</p>
                            </div>
                        </a>
                    </li>
                    <li onclick="choosecontact(2)">

                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            @*<input type="radio" id="tpacontactssection2" name="r1" class="flat-red">*@
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Contact Section 2</h4>
                                <p>Name : Dr.Srikath</p>
                                <p>Disignation : Doctor</p>
                                <p>Mobile : 9988776655</p>
                                <p>Toll Free Phone Number : 1234567890</p>
                                <p>Toll Free FAX Number : 1234567890</p>
                                <p>Email : demo2@test.net</p>
                            </div>
                        </a>
                    </li>
                    <li onclick="choosecontact(3)">

                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            @*<input type="radio" id="tpacontactssection3" name="r1" class="flat-red">*@
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Contact Section 3</h4>
                                <p>Name : S.Ramesh</p>
                                <p>Disignation : Excutive</p>
                                <p>Mobile : 9988776655</p>
                                <p>Toll Free Phone Number : 1234567890</p>
                                <p>Toll Free FAX Number : 1234567890</p>
                                <p>Email : demo2@test.net</p>
                            </div>
                        </a>
                    </li>
                    <li onclick="choosecontact(4)">
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            @*<input type="radio" id="tpacontactssection4" name="r1" class="flat-red">*@
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Contact Section 4</h4>
                                <p>Name : Suresh</p>
                                <p>Disignation : Excutive</p>
                                <p>Mobile : 9988776655</p>
                                <p>Toll Free Phone Number : 1234567890</p>
                                <p>Toll Free FAX Number : 1234567890</p>
                                <p>Email : demo2@test.net</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
<!-- Contacts Section End-->
@*<script src="~/Scripts/JS/jquery-3.2.0.min.js"></script>*@
<script src="~/Scripts/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
     
    $(document).ready(function () {

        var MasterData = [];
        MasterData.mst_Gender =@Html.Raw(Json.Encode(@ApplicationInstance.Application["Gender"]))
        MasterData.mst_AgeType =@Html.Raw(Json.Encode(@ApplicationInstance.Application["AgeType"]))
        MasterData.mst_MaritalStaus =@Html.Raw(Json.Encode(@ApplicationInstance.Application["MaritalStaus"]))

        BindDropdown(MasterData.mst_Gender, "ddlGender");
        BindDropdown(MasterData.mst_AgeType, "ddlAgeType");
    });

    
</script>