﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Dashboard
        <small>Optional description</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
                
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green">12<small>Nov</small></span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Preauths</span>
                    <span class="info-box-number">250</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">11<small>Nov</small></span>
                <div class="info-box-content">
                    <span class="info-box-text">Yesterday's Preauths</span>
                    <span class="info-box-number">25</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow">10<small>Nov</small></span>
                <div class="info-box-content">
                    <span class="info-box-text">10-Nov: Preauths</span>
                    <span class="info-box-number">5</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red">09<small>Nov</small></span>
                <div class="info-box-content">
                    <span class="info-box-text">09-Nov: Preauths</span>
                    <span class="info-box-number">1</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Preauth Report</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">

                        <p class="text-center">
                            <strong>Today's Preauths Status</strong>
                        </p>
                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" style="height: 180px;display:none"></canvas>

                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-12">
                            <p class="text-left">
                                <strong>Category-wise:</strong>
                            </p>
                            <div class="progress-group">
                                <span class="progress-text">Preauth: Query Pending</span>
                                <span class="progress-number"><b>2</b>/250</span>
                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-aqua" style="width: 60%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Preauth: Query Respond</span>
                                <span class="progress-number"><b>18</b>/250</span>
                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Preauth: Rejected</span>
                                <span class="progress-number"><b>30</b>/250</span>
                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Preauth: Approved</span>
                                <span class="progress-number"><b>200</b>/250</span>
                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- /.row -->
            <!-- TABLE: Preauth Information -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Preauth Information:</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Preauth ID</th>
                                    <th>Patient Name</th>
                                    <th>Status</th>
                                    <!--th>Popularity</th-->
                                    <th>Preauth Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12001</a></td>
                                    <td>Rama Krishna | M | 70 years</td>
                                    <td><span class="label label-success">Approved</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12002</a></td>
                                    <td>Shiva | M | 48 years</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12003</a></td>
                                    <td>Prasad | M | 28 years</td>
                                    <td><span class="label label-danger">Rejected</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12004</a></td>
                                    <td>Sunil | M | 67 years</td>
                                    <td><span class="label label-info">Processing</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12005</a></td>
                                    <td>Charan | M | 53 years</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12006</a></td>
                                    <td>Srinivas | M | 43 years</td>
                                    <td><span class="label label-danger">Rejected</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="pages/examples/invoice.html">12007</a></td>
                                    <td>Basha | M | 40 years</td>
                                    <td><span class="label label-success">Approved</span></td>
                                    <td>
                                        <!--div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div-->
                                        Rs. 1,70,800/-
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Create New Preauth</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All 5 days back PA's</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
