﻿
@model HealthPlus.Models.HospLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HospitalLogin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bootstrap/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bootstrap/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Content/dist/style.css">

    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <style>
        .field-validation-error {
            color: #e80c4d;
            font-weight: bold;
        }
    </style>

</head>

@*<body class="hold-transition login-page">*@
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="container" style="height:80px;">
                            <div class="navbar-header">
                                <a href="https://www.apollohospitals.com/locations/india/hyderabad" class="navbar-brand"><img src="~/Content/Images/apollo.png" width="120" height="120" border="0" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="navbar-brand pull-right">
                            <h1>Health Plus</h1>

                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="container">
                <!-- Start login-box -->
                <div class="login-box">
                    <div class="login-logo">
                        <a href="../../index2.html"><b>Apollo Hospitals </b>Login</a>
                    </div>
                    <!-- /.login-logo -->
                    <div class="login-box-body">
                        @*<a href="https://www.apollohospitals.com/locations/india/hyderabad" class="navbar-brand"><img src="~/Content/Images/apollo.png" width="120" height="120" border="0" alt="" /></a>*@
                        <p class="login-box-msg">Sign in to start your session</p>
                        <div class="space">
                            <br />
                        </div>

                        @using (Html.BeginForm("HospitalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <form>
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @maxlength = "20" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @maxlength = "20" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="checkbox icheck">
                                            <!--label>
                                              <input type="checkbox"> Remember Me
                                            </label-->
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                                            @*<i class="ace-icon fa fa-key"></i>*@
                                            Sign In
                                        </button>
                                    </div>
                                    <!-- /.col -->
                                </div>                                
                               
                                <a href="#"><i class="ace-icon fa-key"></i>I forgot my password</a><br>
                                @*<a href="#" class="text-center">Request for a new membership</a>*@
                            </form>

                        }

                    </div>
                    <!-- /.login-box-body -->
                </div>
                <!-- End login-box -->

            </div>
        </div>
      
        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.6
                </div>

            </div>
            <!-- /.container -->
        </footer>
    </div>

    <script src="~/Scripts/JS/jquery-3.2.0.min.js"></script>

    <!-- jQuery 2.2.3 -->
    @*<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Content/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>




    <script type="text/javascript">
       
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        jQuery(function ($) {
            $('a').click(function (e) {
                e.preventDefault();
                var target = $(this).attr('data-target');
                //$('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target

            });
            $('#UserName').focus();
        });


    </script>


</body>


</html>
