﻿<div class="col-sm-12">
    <div class="box box-warning">
        <div class="box-header">
            <h6 class="box-title">Bifurcation of Bill Details</h6>
        </div>
        <div class="box-body">
            <div class="col-xs-6">
                <p class="lead">Bill Amounts</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td><input type="text" class="form-control" value="250.30"></td>
                        </tr>
                        <tr>
                            <th>Tax (9.3%)</th>
                            <td><input type="text" class="form-control" value="10.34"></td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td><input type="text" class="form-control" value="5.80"></td>
                        </tr>
                        <tr>
                            <th>Total Estimated:</th>
                            <td><input type="text" class="form-control" value="265.24"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>
</div>
