﻿<div class="col-sm-12">
    <div class="box box-danger">
        <div class="box-header">
            <h6 class="box-title"> Hospitalization Details</h6>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <label>Treating doctor Name</label>
                    <select class="form-control select2" data-placeholder="Select a Doctor" style="width: 100%;">
                        <option>Select a Doctor</option>
                        <option>Doctor Name1</option>
                        <option>Doctor Name2</option>
                        <option>Doctor Name3</option>
                        <option>Doctor Name4</option>
                        <option>Doctor Name5</option>
                        <option>Doctor Name6</option>

                        <option>Doctor Name7</option>
                        <option>Doctor Name8</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Contact Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Duration of ailment(Days)</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Date of first consultation</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <label>Name of ILLNESS / Disease with presenting complaints:</label>
                    <textarea class="form-control" placeholder="Enter ..."></textarea>
                </div>
                <div class="col-sm-6">
                    <label>Relevant clinical fndings:</label>
                    <textarea class="form-control" placeholder="Enter ..."></textarea>
                </div>
            </div>
            @*<div class="col-sm-12">
                    <div class="col-sm-12">
                        <label>Past history of present ailment if any</label>
                        <textarea class="form-control" placeholder="Enter ..."></textarea>
                    </div>

                </div>*@
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>
</div>
