﻿ <!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-success">4</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">You have 4 Requests from TPA</li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                <li>
                    <!-- start message -->
                    <a href="#">
                        @*<div class="pull-left">
                            <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>*@
                        <!-- Message title and timestamp -->
                        <h4>
                            PreAuthID : 16071100
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <!-- The message -->
                        <p>TPA Approved the Preauth Request</p>
                    </a>
                </li>
                <!-- end message -->
            </ul>
            <!-- /.menu -->
        </li>
        <li class="footer"><a href="#">See All Requests</a></li>
    </ul>
</li>
<!-- /.messages-menu -->
<!-- Notifications Menu -->
<li class="dropdown notifications-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">10</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">You have 10 Approvals from Doctor</li>
        <li>
            <!-- Inner Menu: contains the notifications -->
            <ul class="menu">
                <!-- start notification -->  <li>
                   
                    <a href="#">
                        <i class="fa fa-users text-aqua"></i> PreAuth Request 16223232
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="fa fa-users text-aqua"></i> PreAuth Enhancement 16223233
                    </a>
                </li>
                <!-- end notification -->
            </ul>
        </li>
        <li class="footer"><a href="#">View all</a></li>
    </ul>
</li>
<!-- Tasks Menu -->
<li class="dropdown messages-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-flag-o"></i>
        <span class="label label-danger">9</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">You have 9 Pending Requests</li>
        <li>
            <!-- Inner menu: contains the tasks -->
            <ul class="menu">
               <li>
                    <!-- start message -->
                    <a href="#">

                        <h4>
                            PreAuthID : 16071100
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Pending For 4 documents</p>
                    </a>
                </li>

                <!-- end task item -->
            </ul>
        </li>
        <li class="footer">
            <a href="#">View all tasks</a>
        </li>
    </ul>
</li>
