﻿<div class="col-sm-12">
    <div class="box box-primary">
        <div class="box-header">
            <h6 class="box-title">Patient Admission Details</h6>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                @*<div class="col-sm-2">
                        <label>Total Cost</label>
                        <input type="text" class="form-control">
                    </div>*@
                <div class="col-sm-2">
                    <label>Date of Admission</label>
                    @*<input type="text" class="form-control">*@
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Date of Discharge</label>
                    @*<input type="text" class="form-control">*@
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Days Stay in Hospital</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Ward Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Room Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Bed Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Room Type</label>
                    <select class="form-control select2">
                        <option value="0">Select</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Hospitalization Type</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                            Emergency
                        </label>
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
                            Planned
                        </label>
                    </div>
                </div>


            </div>
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>
</div>
