﻿<div class="col-sm-12">
    <div class="box box-info">
        <div class="box-header">
            <h6 class="box-title">Patient Details</h6>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label>Name of the Patient</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Gender</label>
                    <select id="ddlGender" class="form-control select2">
                        <option value="0">Select</option>                       
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Date of birth</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                    </div>
                </div>
                <div class="col-sm-1">
                    <label>Age</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col-sm-1">
                    <label>AgeType</label>
                    <select id="ddlAgeType" class="form-control select2">
                        <option value="0">Select</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <label>Contact No</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-2">
                    <label>Relative Mobile</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Insured Card ID:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>Policy number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label>Name of corporate</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label>EmployeeID</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-12">&nbsp;</div>

        </div>
    </div>
</div>
