﻿<div class="col-sm-12">
    <div class="box box-info">
        <div class="box-header">
            <h6 class="box-title">TPA Response Details</h6>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                
                <div class="col-sm-4">
                    <label>TPA Status</label>
                    <select class="form-control select2">
                        <option value="0">Select</option>.
                        <option value="1">Approved</option>
                        <option value="2">Pending</option>
                        <option value="3">Rejected</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <label>Remarks</label>
                  <textarea maxlength="1000" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-3">
                    <label>Preauth ID</label>
                    <input type="text"  class="form-control" />
                </div>
                <div class="col-sm-1">
                    <label>Slno</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Approved Amoount</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Copayment Amoount</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <label>Deduction Amoount</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-sm-12">&nbsp;</div>

            <div class="col-sm-12">
                <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;">
                    <i class="fa fa-close"></i> Cancel
                </button>

              
                <button type="button" class="btn btn-warning pull-right" style="margin-right: 5px;">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>

        </div>
    </div>
</div>

