﻿<div class="col-sm-12">
    <div class="box box-warning">
        <div class="box-header">
            <h3 class="box-title">Details of third party administrator</h3>
        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label>Name of Insurance company</label>
                    <select id="ddlInsuranceCompany" class="form-control select2">
                        <option value="0">Select TPA</option>.
                        <option value="1">United india insurace company (UIIC)</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>Name of TPA</label>
                    <select id="ddlTPA" class="form-control select2">
                        <option value="0">Select TPA</option>.
                        <option value="1">TTK</option>
                    </select>

                </div>
                @*<div class="col-sm-2"><label>TPA Contacts</label></div>*@
                <div class="col-sm-2">
                    <label>Contact Person Number</label>
                    <span class="form-control" id="spanTPAPhoneNo"></span>
                </div>
                <div class="col-sm-2">
                    <label>Toll Free FAX Number</label>
                    <span class="form-control" id="spanTPAFAXNo"></span>
                </div>
            </div>
        </div>
    </div>
</div>
