﻿<div class="col-sm-12">
    <div class="box box-warning">
        <div class="box-header">
            <h6 class="box-title">Upload Documents Here</h6>
        </div>
        <div class="box-body">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </div>

            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>
</div>
